@model IEnumerable<Department>
@{
    ViewData["Title"] = "Index";
}
<div >
    <a class="btn btn-success" asp-action="Create">Create Department</a>
</div>
@if(Model.Any())
{
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(d => d.Code)</th>
                <th>@Html.DisplayNameFor(d => d.Name)</th>
                <th>@Html.DisplayNameFor(d => d.Date)</th>
                <th>Detais</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Date</td>
                    <td><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-eye"></i>Detais</a></td>
                    <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-edit"></i>Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i>Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5 alert alert-success text-center text-black">
        <h1>No Departments</h1>
    </div>
}

